In [1]:
#EN ESTE NOTEBOOK SE REALIZA LA LIMPIEZA DE LOS DATOS INICIALES QUE IRÁN A MATHEMATICA PARA SU ANÁLISIS

In [ ]:
import pandas as pd
import glob
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
DATA = pd.read_csv("Ventosa.csv")

In [106]:
pd.to_datetime(DATA["date"])
DATA.index = DATA["date"]

In [107]:
#BUSCAMOS SI HAY FECHAS REPETIDAS. Los TRUE son valores repetidos que posteriormente eliminaremos.
DATA.duplicated().value_counts()

False    124669
True         27
dtype: int64

In [108]:
del DATA["date"]

In [109]:
#ELIMINAMOS VALORES DUPLICADOS EN EL ÍNDICE EN CASO DE EXISTIR
DATA["index"] = DATA.index 
DATA.drop_duplicates(inplace=True) 
del DATA["index"]

In [110]:
#ELIMINAMOS LAS COLUMNAS QUE NO NOS INTERESAN
del DATA["WS_80mB_mean"]
del DATA["WS_60m_mean"]
del DATA["WS_40m_mean"]
del DATA["WS_20m_mean"]
del DATA["WD_58m_mean"]
del DATA["Rad_80m_mean"]

In [111]:
#BUSCAMOS VALORES NULL Y NaN
DATA.isnull().sum()

WS_80mA_mean    0
WD_78m_mean     0
dtype: int64

In [112]:
DATA.isna().sum()

WS_80mA_mean    0
WD_78m_mean     0
dtype: int64

In [113]:
DATA.notnull().sum()

WS_80mA_mean    124669
WD_78m_mean     124669
dtype: int64

In [114]:
#ELIMINAMOS LOS VALORES NAN Y NOS QUEDAMOS SÓLAMENTE CON LAS ESTAMPAS TEMPORALES COMPLETAS.
DATA.dropna(inplace=True)

In [115]:
data = DATA["2018-01-01":"2020-01-01"]
data

                     WS_80mA_mean  WD_78m_mean
date
2018-01-01 00:00:00        9.1229        340.1
2018-01-01 00:10:00       10.4760        339.8
2018-01-01 00:20:00       10.0540        341.7
2018-01-01 00:30:00       11.0280        334.5
2018-01-01 00:40:00       12.3870        335.7
...                           ...          ...
2019-12-31 23:10:00       11.8410        335.1
2019-12-31 23:20:00       11.7920        331.4
2019-12-31 23:30:00       11.0840        329.6
2019-12-31 23:40:00       11.7540        330.3
2019-12-31 23:50:00       12.0020        330.0

[93995 rows x 2 columns]

In [116]:
105120 - len(data)

11125

In [117]:
#GUARDAMOS NUESTRO DATAFRAME LIMPIO
data.to_csv("Ventosa1819.csv")